<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body class="bg-gray-100">

    <nav class="flex items-center justify-between border-b border-gray-700 p-4 bg-white">
        <img src="" alt="LOGO" class="w-40 pl-6 cursor-pointer">
        <div class="p-2">
            <input type="text" placeholder="Search" class="rounded-md border border-gray-700 p-2">
        </div>
        <div class="font-bold">
            <ul class="flex font-bold">
                <li class="px-2"><a href="#" class="px-2">Home</a></li>
                <li class="px-2"><a href="#" class="px-2">Submit</a></li>
                <li class="px-2"><a href="#" class="px-2">Intel</a></li>
                <li class="px-2"><a href="#" class="px-2">Launch</a></li>
                <li class="px-2"><a href="#" class="px-2">Results</a></li>
                <li class="px-2"><a href="#" class="px-2">Account</a></li>
            </ul>
        </div>
        <div class="font-bold">
            <button class="ml-2 p-2 border border-gray-700 rounded-md">Upgrade</button>
            <button class="ml-2 p-2 bg-gray-700 text-white rounded-md">Feedback</button>
        </div>
    </nav>
    

    <section class="flex justify-between my-2 min-h-[700px]">
        <div class="w-3/6 px-2">
            <div class="h-3/6 border border-black px-6 py-4 rounded-lg">
                <h1 class="font-bold text-lg">User Statistics</h1>
                <ul class="list-disc pl-4">
                    <li>User manual uploads</li>
                    <li>API uploads</li>
                    <li>Other Data TBD</li>
                </ul>
            </div>
            <div class="h-3/6 border border-black my-2 px-6 py-4 rounded-lg">
                <h1 class="font-bold text-lg">Sandbox Statistics</h1>
                <ul class="list-disc pl-4">
                    <li>Trend</li>
                </ul>
            </div>
        </div>
        <div class="w-3/6 border border-black px-6 py-4 rounded-lg">
            <h1 class="font-bold text-lg">Thread Inter NEWS</h1>
            <ul class="list-disc pl-4">
                <li>News feed aggregated</li>
            </ul>
        </div>
    </section>
    


    <footer class="bg-gray-700 text-white py-4 text-center">
        This is the footer section. You can add your footer content here.
    </footer>

</body>
</html>
