<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body>
    <div class="container min-h-screen">
        <nav>
            <img src="" alt="">
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'Submit' %}">Submit</a></li>
                <li><a href="{% url 'Intel' %}">Intel</a></li>
                <li><a href="{% url 'Launch' %}">Launch</a></li>
                <li><a href="{% url 'Results' %}">Results</a></li>
                <li><a href="{% url 'Account' %}">Account</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>